body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    background-color: black;
    width: 100%;
    font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header .logoOnlyForMobile{
    height: 0;
    width: 0;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin: 0;
    padding: 0 calc( 15% / 2);
    box-sizing: border-box;
    z-index: 190;
}
header .menuIcon{
    display: none;
}

nav .logo{
    display: grid;
    grid-template-areas: "Omar Guadarrama";
}
nav .logo .nombre{
    grid-area: Omar;
}
nav .logo .apellido{
    grid-area: Guadarrama;
}
nav .logo svg{
    fill:#EF6E51;
}
nav .logo .nombre svg{
    width: 7.5vw;
    height: 2.5vw;
}
nav .logo .apellido svg{
    width: 17.5vw;
    height: 2.5vw;
}
nav .menu{
    height: 100%;
    display: flex;
    align-items: center;
}
nav .menu ul{
    display: flex;
    color: white;
    font-family: "Ubuntu Mono";
    padding: 0;
    
}
nav .menu#social ul{
    align-items: center;
}
nav .menu ul::before{
    content: "[";
}
nav .menu ul::after{
    content: "]";
}
nav .menu ul li{
    list-style: none;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
}
nav .menu ul li:nth-child(1)::after,
nav .menu ul li:nth-child(2)::after{
    content: ",";
}
nav .menu ul li a{
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}
nav .menu ul li a svg{
    width: 1.3rem;
    height: 1.3rem;
    fill: white;
    margin-right: 0.5rem;
    display: none;
}
nav .menu ul li a p{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
nav .menu ul li a:hover{
    border-bottom: 1px solid;
}


/* LOADER */
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background: black;
}
.svg {
    position: absolute;
    width: 0;
    height: 0;
  }
  .clipped {
    height: 20vw;
    width: 25vw;
    background: linear-gradient(90deg, #F4A262, #EF6E51,#5C2D64, #F4A262, #EF6E51  );
    background-size: 400% 400%;
    animation: gradient 1s ease-in-out infinite;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
  }

  @keyframes gradient {
    0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}

.nameContainer{
    width: 90%;
    display: grid;
    grid-template-columns: 30% auto 68%;
    grid-template-areas: "Omar espacio Guadarrama";
    border: white 1px solid;
}
.nameContainer .Omar{
    grid-area: Omar;
    width: 100%;
}
.nameContainer .Guadarrama{
    grid-area: Guadarrama;
    width: 100%;
}

.nameContainer svg{
    fill: #EF6E51;
}

@media (max-width: 1280px) {
    
}

@media (max-width: 960px) {
    .nameContainer .Omar .presindible{
        display: none;
    }
    .nameContainer{
        width: 75%;
        grid-template-columns: 15% 85%;
        grid-template-areas: "Omar Guadarrama";
    }
}

.slide {
    opacity: 0;
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
.slide.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.presentation section{
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.presentation article{
    margin: 0;
    margin-left: calc( 15% / 2 );
}
.presentation .intro h1{
    font-size: 5rem;
    color: #EF6E51;
}
.presentation .intro h2{
    font-weight: lighter;
    font-size: 2.5rem;
    color: #CCCCCC;
}
.presentation .intro h2 strong{
    color: #EF6E51;
    font-weight: bolder;
}
.presentation .intro p{
    color: #FFFFFF;
    font-family: "Ubuntu Mono";
    font-size: 2rem;
    letter-spacing: 2px;
}
.presentation .code article{
    margin-left: 10%;
    color: #EF6E51;
}
.presentation .code h3, .presentation .code strong{
    font-size: 5rem;
    margin: 0;
}
.presentation .code p{
    color: #FFFFFF;
    font-size: 4rem;
    margin: 3rem 0 3rem 8rem;
}
.presentation .text article h2{
    font-weight: bolder;
    font-size: 4rem;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 5rem;
    margin: 1rem 0;
}
.presentation .text article h2 strong{
    color: #F4A262;
}
.presentation .text p{
    color: #FFFFFF;
    font-family: "Ubuntu Mono";
    font-size: 2rem;
    letter-spacing: 2px;
}
.presentation .text p strong{
    font-size: 2.5rem;
}
.presentation .text .lg{
    max-width: 90%;
}
.presentation .text .md{
    max-width: 75%;
}
.presentation .text .sh{
    max-width: 50%;
}
.presentation .text .thanks strong{
    color: #4259A8;
    font-size: 3rem;
}

.Resume,.Works{
    max-width: 100%;
    max-height: 100%;
    margin-top: 5rem;
}
.Resume header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.Resume header .logo svg {
    height: 8rem;
    width: 8rem;
    fill: white;
}
.Resume header .nombreCompleto{
    display: flex;
    margin-top: 2rem;
}
.Resume header .nombreCompleto h1{
    display: none;
}
.Resume header .nombreCompleto .nombre,
.Resume header .nombreCompleto .apellido{
    fill: #EF6E51;
    height: 4rem;
}
.Resume header .nombreCompleto .nombre{
    width: 12rem;
}
.Resume header .nombreCompleto .apellido{
    width: 28rem;
}
.Resume header h2 strong{
    color: #EF6E51;
    font-weight: bolder;
}
.Resume header h2{
    color: #FFFFFF;
    font-family: "Ubuntu Mono";
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
}
.Resume header .downloadIcon{
    color: #87CDB4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding: 0.5rem;
}
.Resume header .downloadIcon object{
    height: 3rem;
    width: 3rem;
}
.Resume header .downloadIcon p{
    margin: 0;
}
.Resume .content{
    max-width: 65%;
    color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( 5, 1fr ) ;
    grid-template-areas:
        "about about about contact contact"
        "skills skills experience experience experience"
        "skills skills education education education"
        "skills skills languages languages languages";
}
.Resume .content article{
    padding: 1.5rem 2.5rem 1rem 2.5rem;
}
.Resume .content h3{
    margin: 0;
    font-variant: small-caps;
    font-size: 1.5rem;
}
.Resume .content li p{
    margin: 0.3rem 0;
}
.content .about{
    background-color: #D1D3D4;
    grid-area: about;
}
.content .contact{
    background-color: #BEBEBF;
    grid-area: contact;
}
.content .about h3,
.content .contact h3{
    color:#1D2653;
    font-size: 1.5rem;
}
.content .contact ul{
    padding: 0;
}
.content .contact li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content .contact li svg {
    fill:#414042;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}
.content .about p,
.content .contact p{
    line-height: 1.5rem;
    color: #414042;
    letter-spacing: 0.7px;
}
.content .skills{
    background-color: #1D2653;
    grid-area: skills;
}
.content .skills h4{
    font-size: 1.2rem;
    color: #F4A262;
    margin-bottom: 0;
    margin-top: 2rem;
    font-style: italic;
    font-weight: normal;
}
.content .skills .softSkills li p{
    font-weight: bold;
    font-size: 1.2rem;
}
.content .skills ul p{
    font-weight: lighter;
}
.content .experience{
    background-color: #FBF9F8;
    grid-area: experience;
}
.content .experience h3{
    color: #1D2653;
}
.content .experience .job .name{
    color: #6A6B6D;
    margin-bottom: 0;
    font-size: 1.3rem;
}
.content .experience .job .place{
    color: #6A6B6D;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    letter-spacing: 1px;
}
.content .experience .job .task{
    color: #6A6B6D;
}
.content .experience .job .task p{
    color: #6A6B6D;
    line-height: 1.5;
}
.content .education{
    grid-area: education;
    background-color: #FBF9F8;
}
.content .education h3 {
    color: #1D2653;
}
.content .education .Platzi .firstLine h4,
.content .education .ENAP h4{
    color: #6A6B6D;
    margin-bottom: 0;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}
.content .education .Platzi .firstLine{
    display: flex;
    align-items: center;
}
.content .education .Platzi .secondLine{
    color: #6A6B6D;
    margin-bottom: 0;
    font-size: 1.3rem;
    margin-top: 0.1rem;
}
.content .education .Platzi .firstLine svg{
    height: 2rem;
    width: calc( 2rem * 4 );
    margin-top: 1.5rem;
}
.platzi-text{
    fill:#364159;
}
.platzi-symbol{
    fill:#a8ca6c;
}
.content .education .ENAP p:nth-child(2){
    font-weight: normal;
    color: #6A6B6D;
}
.content .education .Platzi p,
.content .education .ENAP p:nth-child(3){
    font-weight: lighter;
    color: #6A6B6D;
}
.content .education .ENAP p:nth-child(2),
.content .education .ENAP p:nth-child(3){
    margin: 0.3rem 0;
}
.content .languages{
    grid-area: languages;
    background-color: #FBF9F8;
}
.content .languages h3 {
    color: #1D2653;
}
.content .languages h4 {
    color: #6A6B6D;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.content .languages p{
    font-weight: lighter;
    color: #6A6B6D;
    margin-top: 0;
}

.workContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure{
    margin: 0;
}
figure picture img{
    width: 80vw;
}

.gallery{
    max-width: 100%;
    margin: 10rem 5% 0 5%;
}
.gallery-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}
.gallery-container .item{
    height: calc( ( 100vh * 0.3 ) * 2 );
}
.item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.item-thumbnail{
    transform: scale(1);
    transition: .5s cubic-bezier(.23,1,.32,1);
    -webkit-transition: .5s cubic-bezier(.23,1,.32,1);
    -moz-transition: .5s cubic-bezier(.23,1,.32,1);
    -ms-transition: .5s cubic-bezier(.23,1,.32,1);
    -o-transition: .5s cubic-bezier(.23,1,.32,1);
}
.item-thumbnail picture img{
    object-fit:contain;
    height: 100%;
}
.item-info{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-info::after {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
    transition: .5s cubic-bezier(.23,1,.32,1);
    -webkit-transition: .5s cubic-bezier(.23,1,.32,1);
    -moz-transition: .5s cubic-bezier(.23,1,.32,1);
    -ms-transition: .5s cubic-bezier(.23,1,.32,1);
    -o-transition: .5s cubic-bezier(.23,1,.32,1);
}
.item-info h4 {
    font-size: 40px;
    margin: 10px;
    font-weight: 800;
    width: 85%;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transition: .3s cubic-bezier(.23,1,.32,1);
    -webkit-transition: .3s cubic-bezier(.23,1,.32,1);
    -moz-transition: .3s cubic-bezier(.23,1,.32,1);
    -ms-transition: .3s cubic-bezier(.23,1,.32,1);
    -o-transition: .3s cubic-bezier(.23,1,.32,1);
}

.item:hover .item-thumbnail{
    transform: scale(1.2);
}
.item:hover .item-info span{
    opacity: .5;
    transition-delay: .15s;
}
.item:hover .item-info h4{
    opacity: 1;
    transition-delay: .25s;
}
.item:hover .item-info{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.item:hover .item-info h4{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.item:hover .item-info::after {
    height: 100%;
    top: 0;
    bottom: auto;
}

.modalClosed {
    display: none;
}
.modalOpened {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 200;    
    bottom: 0;
    height: 100vh;
    overflow-y: scroll;
}
  
.modalOpened article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.modalOpened article header{
    display: flex;
    justify-content: center;
}
.modalOpened article .closeIcon{
    background-color: #1D2653;
    position: sticky;
    top: 0px;
    right: 10vw;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 210;
    align-self: end;
}
.modalOpened article .closeIcon img{
    height: 1.5rem;
}
.modalOpened article header .item-thumbnail{
    width: 40%;
}
.modalOpened article header .item-thumbnail figcaption{
    display: none;
}

.modalOpened article header .item-thumbnail picture img{
    width: 100%;
}
.modalOpened article header section{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 0 2rem;
    box-sizing: border-box;
}
.modalOpened article header section h2{
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.modalOpened article header section h3{
    text-align: center;
}
.modalOpened article header section a{
    /* margin-bottom: 1rem; */
    padding: 0.5rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: gray;
}
.modalOpened article header section a .link-icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0.5rem;
}

.modalOpened article header section .technologies{
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}
.modalOpened article header section .technologies p{
    margin: 0;
}

.modalOpened article header section .technologies .techContainer{
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem;
}
.modalOpened article header section .technologies .techContainer::after{
    content: ',';
}
.modalOpened article header section .technologies .techContainer:last-child::after{
    content: '';
}
.modalOpened article header section .technologies .techContainer .techContainer-icon{
    height: 1.5rem;
    margin-right: 0.3rem;
}
.modalOpened article header section .role{
    margin-bottom: 0;
}
.modalOpened article .explanation,
.modalOpened article .conclusion{
    color: gray;
    font-size: 13px;
    line-height: 1.65em;
    letter-spacing: 0em;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;

    margin: 3rem 0;

    -moz-column-fill: balance;
       column-fill: balance;
}
.modalOpened article .conclusion{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    -webkit-column-width: 40vw;
    -moz-column-width: 40vw;
    column-width: 40vw;
}
.modalOpened article .explanation p{
    width: 25vw;
}
.modalOpened article .explanation p:first-child,
.modalOpened article .conclusion p:first-child{
    margin-top: 0;
}
.modalOpened article .conclusion p{
    width: 40vw;
}












#Ilustración .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Ilustración .images figure{
    width: 30%;
    margin: 1rem;
}
#Ilustración .images figure:first-child{
    width: 85%;
    margin: 1rem;
}
#Ilustración .images figure picture img{
    width: 100%;
}




#Diseño .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Diseño .images figure{
    width: 20%;
    margin: 1rem;
}
#Diseño .images figure:first-child{
    width: 85%;
    margin: 1rem;
}
#Diseño .images figure picture img{
    width: 100%;
}




#Sitio .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Sitio .images figure{
    width: 40%;
    margin: 1rem;
    box-shadow: 0px 8px 30px 0px #bebebe;
    height: fit-content;
}
#Sitio .images figure img{
    width: 100%;
}



#Bolsa .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Bolsa .images figure{
    width: 40%;
    margin: 1rem;
    box-shadow: 0px 8px 30px 0px #bebebe;
    height: fit-content;
}
#Bolsa .images figure:first-child{
    width: 85%;
    margin: 1rem;
}
#Bolsa .images figure picture img{
    width: 100%;
}
#Bolsa .images figure:last-child{
    width: 30%;
    margin: 1rem;
}

#OSFEdemy .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#OSFEdemy .images figure{
    width: 40%;
    margin: 1rem;
    height: fit-content;
}
#OSFEdemy .images figure img{
    width: 100%;
}
#OSFEdemy .images figure:first-child{
    width: 80%;
}
#OSFEdemy .images figure:nth-child(n+8){
    width: 45%;
    box-shadow: 0px 8px 30px 0px #bebebe;
}
#OSFEdemy .images figure:last-child{
    width: 30%;
}


#Extracto .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
#Extracto .images figure{
    margin: 1rem;
}
#Extracto .images figure picture img{
    width: 100%;
}
#Extracto .images figure:first-child{
    display: none;
}
#Extracto .images figure:nth-child(2){
    width: 50%;
}
#Extracto .images figure:nth-child(3),
#Extracto .images figure:last-child{
    width: 80%;
}



#Calendario .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Calendario .images figure{
    margin: 1rem;
    box-shadow: 0px 8px 30px 0px #bebebe;
    width: 80%;
}
#Calendario .images figure picture img{
    width: 100%;
}
#Calendario .images figure:first-child{
    display: none;
}
#Calendario .images figure:nth-child(n+4){
    width: 40%;
}

footer{
    width: 100%;
    color: white;
}
footer ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5vw;
}
footer ul p{
    margin: 0;
}
footer ul li{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1rem;
    list-style:none;
    
}
footer ul li a svg{
    fill:white
}






.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}







@media (min-width: 601px) and (max-width: 1000px){
    figure picture img{
        width: 100vw;
    }
}

@media (max-width: 600px) {
    .Resume header{
        width: 80%;
        margin: 1rem auto;
    }
    .Resume header .nombreCompleto {
        flex-direction: column;
        align-items: center;
    }
    .Resume header .nombreCompleto .nombre {
        width: 7.5rem;
    }
    .Resume header .nombreCompleto .apellido {
        width: 17.5rem;
    }
    .Resume header h2 {
        text-align: center;
        margin-top: 0;
    }
    .Resume .content {
        max-width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "contact"
            "about"
            "experience"
            "languages"
            "skills"
            "education"
        ;
    }
    .Resume .content article {
        padding: 1.5rem;
    }
    .Resume .content .experience .job ul{
        padding-left: 1.8rem;
        padding-right: 1.5rem;
    }
    .Resume .content .education .Platzi .firstLine h4, .content .education .ENAP h4 {
        font-size: 1rem;
    }
    .content .education .Platzi .firstLine svg {
        height: 1.5rem;
        width: calc( 1.5rem * 4 );
    }
    .content .education .Platzi .secondLine {
        font-size: 1rem;
    }
    .content .education .Platzi p, .content .education .ENAP p:nth-child(3) {
        width: 90%;
    }



    .presentation article {
        margin: 0px 0px 0px 6%;
    }
    .presentation .intro h1 {
        font-size: 3rem;
        margin: 0.5em 0 0.2em;
    }
    .presentation .intro h2 {
        margin-top: 0;
        font-size: 1.5rem;
        max-width: 80%;
    }
    .presentation .intro p {
        font-family: "Ubuntu Mono";
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .presentation .code h3, .presentation .code strong {
        font-size: 2rem;
    }
    .presentation .code p {
        font-size: 1.5rem;
        margin: 2.5rem;
    }
    .presentation .text article h2 {
        font-size: 2rem;
        margin: 1rem 0;
        line-height: 2.5rem;
        max-width: 80%;
    }
    .presentation .text p {
        font-size: 1rem;
        letter-spacing: 2px;
        max-width: 80%;
    }
    .presentation .text p strong {
        font-size: 2rem;
    }

    figure picture img{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .modalOpened figure picture img{
        height: auto;
        box-shadow: 0px 5px 20px 0px #aaaaaa;
    }
    .gallery{
        margin: 0;
    }
    .gallery-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .gallery-container .item{
        height: fit-content;
        height: -moz-fit-content;
        width: 90%;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    .gallery-container .item .item-info{
        align-items: flex-end;
    }
    .gallery-container .item .item-info h4{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        margin: 1.5rem 0;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    .gallery-container .item .item-thumbnail figcaption{
        display: none;
    }
    .gallery-container .item .item-thumbnail picture img{
        width: 100%;
        height: 100%;
        margin: 0;
        object-fit: cover;
    }
    .modalOpened{
        top: 0;
        width: 100%;
    }
    .modalOpened article{
        padding: 0;
        width: 100%;
    }
    .modalOpened article .closeIcon {
        right: 0px;
    }
    .modalOpened article header{
        flex-direction: column;
        width: 100%;
    }
    .modalOpened article header section{
        width: 100%;
    }
    .modalOpened article header .item-thumbnail {
        width: 100%;
    }
    .modalOpened article header section h3 {
        max-width: 95%;
    }
    .modalOpened article .explanation,
    .modalOpened article .conclusion {
        margin: 2rem 0;
        font-size: 1rem;
    }





    .modalOpened article .explanation,
    .modalOpened article .conclusion{
    
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    
        margin: 2rem 0;
    }
    .modalOpened article .explanation p,
    .modalOpened article .conclusion p{
        width: 85vw;
    }
    .modalOpened article .conclusion{
        column-width: auto;
    }

    .modalOpened #Extracto .images figure,
    .modalOpened #OSFEdemy .images figure,
    .modalOpened #Calendario .images figure,
    .modalOpened #Bolsa .images figure,
    .modalOpened #Sitio .images figure,
    .modalOpened #Reygar .images figure,
    .modalOpened #Diseño .images figure,
    .modalOpened #Ilustración .images figure
    {
        width: 100%;
        height: fit-content;
        margin: 1rem 0;
    }
    .modalOpened #Extracto .images figure picture img,
    .modalOpened #OSFEdemy .images figure picture img,
    .modalOpened #Calendario .images figure picture img,
    .modalOpened #Bolsa .images figure picture img,
    .modalOpened #Sitio .images figure picture img,
    .modalOpened #Reygar .images figure picture img,
    .modalOpened #Diseño .images figure picture img,
    .modalOpened #Ilustración .images figure picture img{
        margin-bottom: 0;
    }

    nav {
        background-color: black;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        padding: 5vh 15vw 1.5cm 10vw;
        justify-content: space-around;
        align-items: flex-end;
        z-index: 201;
    }

    nav .logo{
        order: 3;
        align-self: flex-start;
    }
    nav .logo .nombre svg {
        width: 24vw;
        height: 8vw;
    }
    nav .menu{
        order: 2;
        height: 35%;
    }
    nav .logo .apellido svg {
        width: 56vw;
        height: 8vw;
    }
    nav .menu ul{
        flex-direction: column;
        font-size: 3.5vh;
    }
    nav .menu ul::before{
        align-self: flex-start;
    }
    nav .menu ul::after{
        align-self: flex-start;
        content:"],"
    }
    nav .menu ul li{
        margin: 1rem 0 1rem 2rem;
        display: flex;
    }
    nav .menu#social ul li a{
        display: flex;
    }
    nav .menu#social ul li a svg{
        fill:white;
        width: 4vh;
        height: 4vh;
        display: block;
    }
    
    nav .menu#social ul li a p{
        margin: 0 0 0 2vh;
    }

    nav #social{
        order: 1;
    }
    header .menuIcon{
        height: 1.5cm;
        width: 1.5cm;

        -o-transform: translateY(1rem) translateX(-1rem);
        -webkit-transform: translateY(1rem) translateX(-1rem);
        -ms-transform: translateY(1rem) translateX(-1rem);
        -moz-transform: translateY(1rem) translateX(-1rem);
        transform: translateY(1rem) translateX(-1rem);

        -o-transition: transform 0.6s ease;
        -webkit-transition: transform 0.6s ease;
        -moz-transition: transform 0.6s ease;
        transition: transform 0.6s ease;

        display: block;
        position: fixed;
        bottom: 10vw;
        right: 0;
        z-index: 210;
    }
    header .menuIcon.beingTouched{
        -o-transform: translateY(1rem) translateX(-2rem);
        -webkit-transform: translateY(1rem) translateX(-2rem);
        -ms-transform: translateY(1rem) translateX(-2rem);
        -moz-transform: translateY(1rem) translateX(-2rem);
        transform: translateY(1rem) translateX(-2rem);
        right: 3vh;
    }
    
    header .logoOnlyForMobile{
        margin: 2rem auto;
        height: 6rem;
        width: 6rem;
        fill: white;
    }
    /* MENU ICON */
    
    .icon{
        width: 1.5cm;
        height: 1.5cm;
        perspective: 1cm;
        
        -o-transform: rotateZ(-55deg) rotateX(35deg) rotateY(35deg);
        -webkit-transform: rotateZ(-55deg) rotateX(35deg) rotateY(35deg);
        -ms-transform: rotateZ(-55deg) rotateX(35deg) rotateY(35deg);
        -moz-transform: rotateZ(-55deg) rotateX(35deg) rotateY(35deg);
        transform: rotateZ(-55deg) rotateX(35deg) rotateY(35deg);

        transform-origin: bottom left;
        transform-style: preserve-3d;
        perspective-origin: top;
        
        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    .icon .O{
        width: 100%;
        height: 100%;

        -o-transform: scaleX(100%) translateZ(-2px);
        -webkit-transform: scaleX(100%) translateZ(-2px);
        -ms-transform: scaleX(100%) translateZ(-2px);
        -moz-transform: scaleX(100%) translateZ(-2px);
        transform: scaleX(100%) translateZ(-2px);

        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
        
        z-index: 0;
        border: 5px solid black;
    }
    .icon .G{
        width: 100%;
        height: 100%;

        -o-transform: scaleX(85%) translateX(33%) translateY(-135%) translateZ(2px);
        -webkit-transform: scaleX(85%) translateX(33%) translateY(-135%) translateZ(2px);
        -ms-transform: scaleX(85%) translateX(33%) translateY(-135%) translateZ(2px);
        -moz-transform: scaleX(85%) translateX(33%) translateY(-135%) translateZ(2px);
        transform: scaleX(85%) translateX(33%) translateY(-135%) translateZ(2px);

        -o-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        transition: all 0.6s ease;
        
        z-index: 1;
        border: 5px solid black;
    }

    .icon .O.borderHighlight,
    .icon .G.borderHighlight
    {
        -webkit-animation: borderChange 4s ease infinite;
        -moz-animation: borderChange 4s ease infinite;
        -o-animation: borderChange 4s ease infinite;
        animation: borderChange 4s ease infinite;
    }

    .icon .O svg .dot{
        fill: black;
        transition: all 0.6s ease;
    }
    .icon .O svg,
    .icon .G svg{
        background: black;
        fill: white;
    }

    .menuIcon.beingTouched .icon{
        -o-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
        -webkit-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
        -ms-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    .menuIcon.beingTouched .icon .O{
        -o-transform: scaleX(75%) translateZ(0px);
        -webkit-transform: scaleX(75%) translateZ(0px);
        -ms-transform: scaleX(75%) translateZ(0px);
        -moz-transform: scaleX(75%) translateZ(0px);
        transform: scaleX(75%) translateZ(0px);
        border: 0px;
    }
    .menuIcon.beingTouched .icon .O svg .dot{
        fill: white;
    }
    .menuIcon.beingTouched .icon .G{
        -o-transform: scaleX(66.6%) translateX(84%) translateY(-100%) translateZ(0px);
        -webkit-transform: scaleX(66.6%) translateX(84%) translateY(-100%) translateZ(0px);
        -ms-transform: scaleX(66.6%) translateX(84%) translateY(-100%) translateZ(0px);
        -moz-transform: scaleX(66.6%) translateX(84%) translateY(-100%) translateZ(0px);
        transform: scaleX(66.6%) translateX(84%) translateY(-100%) translateZ(0px);
        border: 0px;
    }



    .icon .O.borderHighlight svg,
    .icon .G.borderHighlight svg{
        background: linear-gradient(270deg, #000000, #000000, #000000, #000000, #1d2653, #5c2d64, #ef6e51, #f4a262, #87cdb4, #4259a8, #000000, #000000, #000000, #000000);
        background-size: 2800% 2800%;
    
        -webkit-animation: iconHighlight 8s ease infinite;
        -moz-animation: iconHighlight 8s ease infinite;
        -o-animation: iconHighlight 8s ease infinite;
        animation: iconHighlight 8s ease infinite;
    }
    
    @-webkit-keyframes iconHighlight {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes iconHighlight {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes iconHighlight {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes iconHighlight {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    


    @-webkit-keyframes borderChange {
        0%{border-color: black;
            border-width: 5px;}
        21.4%{border-color: black;}
        28.5%{border-color: #1d2653;}
        35.7%{border-color: #5c2d64;}
        42.8%{border-color: #ef6e51;}
        50%{border-color: #f4a262;
            border-width: 6px;}
        57.1%{border-color: #87cdb4;}
        64.2%{border-color: #4259a8;}
        71.4%{border-color: black;}
        71.5%{border-color: black;}
        100%{border-color: black;
            border-width: 5px;}
    }
    @-moz-keyframes borderChange {
        0%{border-color: black;
            border-width: 5px;}
        21.4%{border-color: black;}
        28.5%{border-color: #1d2653;
            border-width: 6px;}
        35.7%{border-color: #5c2d64;}
        42.8%{border-color: #ef6e51;}
        50%{border-color: #f4a262;}
        57.1%{border-color: #87cdb4;}
        64.2%{border-color: #4259a8;
            border-width: 6px;}
        71.4%{border-color: black;}
        71.5%{border-color: black;}
        100%{border-color: black;
            border-width: 5px;}
    }
    @-o-keyframes borderChange {
        0%{border-color: black;
            border-width: 5px;}
        21.4%{border-color: black;}
        28.5%{border-color: #1d2653;
            border-width: 6px;}
        35.7%{border-color: #5c2d64;}
        42.8%{border-color: #ef6e51;}
        50%{border-color: #f4a262;}
        57.1%{border-color: #87cdb4;}
        64.2%{border-color: #4259a8;
            border-width: 6px;}
        71.4%{border-color: black;}
        71.5%{border-color: black;}
        100%{border-color: black;
            border-width: 5px;}
    }
    @keyframes borderChange {
        0%{border-color: black;
            border-width: 5px;}
        21.4%{border-color: black;}
        28.5%{border-color: #1d2653;
            border-width: 6px;}
        35.7%{border-color: #5c2d64;}
        42.8%{border-color: #ef6e51;}
        50%{border-color: #f4a262;}
        57.1%{border-color: #87cdb4;}
        64.2%{border-color: #4259a8;
            border-width: 6px;}
        71.4%{border-color: black;}
        71.5%{border-color: black;}
        100%{border-color: black;
            border-width: 5px;}
    }

    footer ul{
        flex-direction: column;
    }
    footer ul li{
        margin-bottom: 1rem;
    }
}