footer {
  @apply flex items-center justify-start;
  @apply text-sm text-muted-foreground;
  & .logo {
    @apply inline-block h-10 w-10 px-2;
    @apply transition-[filter] will-change-[filter];
    &.vite:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    &.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
    &.tailwind:hover {
      filter: drop-shadow(0 0 2em #61f8fbaa);
    }
    &.typescript:hover {
      filter: drop-shadow(0 0 2em #3a85d6aa);
    }
  }
}
