/* LOADER */
.loader {
  @apply flex justify-center items-center;
  @apply m-auto;
  @apply absolute top-0 bottom-0 left-0 right-0;
  @apply z-50;
  @apply bg-background;

  & svg {
    @apply absolute h-0 w-0;
  }
  & .clipped {
    @apply h-[20dvw] w-[25dvw];
    background: linear-gradient(
      90deg,
      #f4a262,
      #ef6e51,
      #5c2d64,
      #f4a262,
      #ef6e51
    );
    background-size: 400% 400%;
    animation: loaderGradient 1s ease-in-out infinite;
    clip-path: url(#my-clip-path);
  }
}
@keyframes loaderGradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
