.slide {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  animation: slideTransition ease-in-out both;
  animation-timeline: view();
}

@keyframes slideTransition {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    filter: blur(40px);
  }
  45%,
  55% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(40px);
  }
}

.intro h1 {
  font-size: 5rem;
  color: #ef6e51;
}
.intro h2 {
  font-weight: lighter;
  font-size: 2.5rem;
  color: #cccccc;
}
.intro h2 strong {
  color: #ef6e51;
  font-weight: bolder;
}
.intro p {
  color: #ffffff;
  font-family: "Ubuntu";
  font-size: 2rem;
  letter-spacing: 2px;
}
.presentation .code article {
  margin-left: 10%;
  color: #ef6e51;
}
.presentation .code h3,
.presentation .code strong {
  font-size: 5rem;
  margin: 0;
}
.presentation .code p {
  color: #ffffff;
  font-size: 4rem;
  margin: 3rem 0 3rem 8rem;
}
.presentation .text article h2 {
  font-weight: bolder;
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 5rem;
  margin: 1rem 0;
}
.presentation .text article h2 strong {
  color: #f4a262;
}
.presentation .text p {
  color: #ffffff;
  font-family: "Ubuntu";
  font-size: 2rem;
  letter-spacing: 2px;
}
.presentation .text p strong {
  font-size: 2.5rem;
}
.presentation .text .lg {
  max-width: 90%;
}
.presentation .text .md {
  max-width: 75%;
}
.presentation .text .sh {
  max-width: 50%;
}
.presentation .text .thanks strong {
  color: #4259a8;
  font-size: 3rem;
}
