@import "tailwindcss/components";

@import "./styles/slides.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* blanco */
    --background: 0 0% 100%;
    /* negro */
    --foreground: 20 14.3% 4.1%;
    /* blanco */
    --card: 0 0% 100%;
    /* negro */
    --card-foreground: 20 14.3% 4.1%;
    /* blanco */
    --popover: 0 0% 100%;
    /* negro */
    --popover-foreground: 20 14.3% 4.1%;
    /* anaranjado */
    --primary: 24.6 95% 53.1%;
    /* blanco ligeramente aperlado */
    --primary-foreground: 60 9.1% 97.8%;
    /* otro blanco ligeramente aperlado */
    --secondary: 60 4.8% 95.9%;
    /* gris oscuro */
    --secondary-foreground: 24 9.8% 10%;
    /* blanco ligeramente aperlado */
    --muted: 60 4.8% 95.9%;
    /* gris claro */
    --muted-foreground: 25 5.3% 44.7%;
    /* blanco ligeramente aperlado */
    --accent: 60 4.8% 95.9%;
    /* gris oscuro */
    --accent-foreground: 24 9.8% 10%;
    /* anaranjado rojizo chillante */
    --destructive: 0 84.2% 60.2%;
    /* blanco ligeramente aperlado */
    --destructive-foreground: 60 9.1% 97.8%;
    /* blanco agrisado*/
    --border: 20 5.9% 90%;
    /* blanco agrisado*/
    --input: 20 5.9% 90%;
    /* anaranjado */
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    /* negro */
    --background: 20 14.3% 4.1%;
    /* blanco ligeramente aperlado */
    --foreground: 60 9.1% 97.8%;
    /* negro */
    --card: 20 14.3% 4.1%;
    /* blanco ligeramente aperlado */
    --card-foreground: 60 9.1% 97.8%;
    /* negro */
    --popover: 20 14.3% 4.1%;
    /* blanco ligeramente aperlado */
    --popover-foreground: 60 9.1% 97.8%;
    /* anaranjado */
    --primary: 11.01 83.16% 62.75%;
    /* blanco ligeramente aperlado */
    --primary-foreground: 60 9.1% 97.8%;
    /* naranja ligero */
    --secondary: 26.3 86.9% 67.06%;
    /* blanco ligeramente aperlado */
    --secondary-foreground: 60 9.1% 97.8%;
    /* naranja ligero */
    --muted: 26.3 86.9% 67.06%;
    /* gris claro */
    --muted-foreground: 24 5.4% 63.9%;
    /* naranja ligero */
    --accent: 26.3 86.9% 67.06%;
    /* blanco ligeramente aperlado */
    --accent-foreground: 60 9.1% 97.8%;
    /* anaranjado rojizo chillante */
    --destructive: 0 72.2% 50.6%;
    /* blanco ligeramente aperlado */
    --destructive-foreground: 60 9.1% 97.8%;
    /* naranja ligero */
    --border: 26.3 86.9% 67.06%;
    /* naranja ligero */
    --input: 26.3 86.9% 67.06%;
    /* anaranjado */
    --ring: 11.01 83.16% 62.75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
